<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ErrorPage.css">
    <title>Error Page</title>
</head>
<body>
    {{>Nav}}
    <h1>Sorry, there is an error</h1>
    <p>Error code: {{code}}</p>
    <p>Error message: {{message}}</p>
</body>
</html>