<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/PageNotFound.css">
    <title>Page Not Found</title>
</head>
<body>
    {{>Nav}}
    <h1> Sorry the page {{page}} does not exist</h1>
</body>
</html>