body {
    margin:0;
    background-color: #CBF3F0;
    text-align: center;
    color: #2EC4B6;
    font-weight: bold;
}

.fixed-section{
    position: fixed;
    top:0;
    width: 100%;
    background-color: #CBF3F0;
    margin-top: 3em;
}

.today-heading{
    margin: 0;
}

.today-instructions{
    margin: 0.5em auto;
}

.seven-days-form{
    border: 1px solid #FF9F1C;
    background-color: #FFBF69;
    padding: 1em;
    border-radius: 5%;
    text-align: left;
    width:350px;
    margin: 0 auto;
}

.seven-days-form label{
    display: block;
    float: left;
    margin-bottom: 0.25em;
    color: white;
}

.seven-days-form input{
    width: 95%;
    border: white;
    color: #2EC4B6;
}

.seven-days-form select{
    color: #2EC4B6;
    border-color: white;
}

.seven-days-form button {
    margin-top: 1em;
    display: block;
    background-color:#2EC4B6;
    color: white;
    border: white;
    padding: 0.5em;
    border-radius: 5%;

}

.scroll-section{
    margin-top: 23em;
}

.local-time{
    margin: 0.5em auto;
}

.today-image{
    margin: 0;
}

.today {
    width: 450px;
    margin: 0 auto;
    border: 1px solid #2EC4B6;
    text-align: left;
    border-collapse: collapse;
    font-weight: normal;
    margin-bottom: 2em;
}

.today tr td:nth-child(odd) {
    border: 1px solid #2EC4B6;
    border-collapse: collapse;
    background-color: #FFBF69;
    color: #2EC4B6;
    font-weight: bold;
    padding: 0.5em;
}

.today tr td:nth-child(even) {
    border: 1px solid #2EC4B6;
    border-collapse: collapse;
    background-color: white;;
    padding: 0.5em;
}

.daily-heading{
    margin: 0.25em;
}

.daily-image{
    margin:0;
}

.daily {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #2EC4B6;
    text-align: left;
    border-collapse: collapse;
    font-weight: normal;
    margin-bottom: 2em;
}

.daily tr td:nth-child(odd){
    border: 1px solid #2EC4B6;
    border-collapse: collapse;
    background-color: #FFBF69;
    color: #2EC4B6;
    font-weight: bold;
    width:75%;
    text-align: left;
    padding-left: 0.5em;
}

.daily tr td:nth-child(even){
    border: 1px solid #2EC4B6;
    border-collapse: collapse;
    background-color: white;
    padding-left: 0.5em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 250px) and (max-device-width : 480px) {

    .today-heading{
        font-size: x-large;
    }

    .today-instructions{
        font-size: large;
    }
  
    .seven-days-form{
        width:250px;
        margin: 0.5em auto;  
    }

    .seven-days-form select{
        width: 95%;
    }

    .city-heading{
        font-size: x-large;
    }

    .scroll-section{
        margin-top: 22em;
    }

    .local-time{
        font-size: large;
    }

    .today-image{
        height: 4em;
        width: 4em;
    }

    .today{
        width: 300px;
    }

    .daily-image{
        height: 4em;
        width: 4em;
    }
}

