nav ul{
    list-style: none;
    display: flex;
}

li {
    padding-left: 1rem;
}

a {
    text-decoration: none;
    background-color: #2EC4B6;
    padding: 0.5em;
    border-radius: 5%;
}

a:link {
    color: #FF9F1C
  }
  
  a:visited {
    color: white;
  }
  