body {
    background-color: #CBF3F0;
    text-align: center;
    color: #2EC4B6;
    font-weight: bold;
}

form {
    border: 1px solid #FF9F1C;
    background-color: #FFBF69;
    padding: 1em;
    border-radius: 5%;
    text-align: left;
    width:350px;
    margin: auto;
    
}

label{
    display: block;
    float: left;
    margin-bottom: 0.25em;
    color: white;
}

input{
    width: 95%;
    border-color: white;
    color: #2EC4B6;
}

select {
    color: #2EC4B6;
    border-color: white;
}

button{
    margin-top: 1em;
    display: block;
    background-color:#2EC4B6;
    color: white;
    border: white;
    padding: 0.5em;
    border-radius: 5%;
}

.image-container{
    width: 125px;
    height:125px;
    margin: 0 auto;
}

img {
    margin: 1em;
}

.city-table {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #2EC4B6;
    text-align: left;
    border-collapse: collapse;
    font-weight: normal;
}

td {
    border: 1px solid #2EC4B6;
    border-collapse: collapse;
    background-color: white;
    padding: 0.5em;
}

.city td{
    font-weight: bold;
    background-color: #FFBF69;
    color: #2EC4B6
}
