body{
    background-color: #CBF3F0;
    text-align: center;
    margin:0;
    color: #2EC4B6;
}

.fixed-section{
    position: fixed;
    top:0;
    width: 100%;
    background-color: #CBF3F0;
    margin-top: 3em;
}

.sydney-today-time{
    margin:0;
}

.sydney-today-image{
    margin: 0;
}

.sydney-today {
    width: 450px;
    margin: 0 auto;
    border: 1px solid #2EC4B6;
    text-align: left;
    border-collapse: collapse;
    font-weight: normal;
    margin-bottom: 1em;
}

.sydney-today tr td:nth-child(odd) {
    border: 1px solid #2EC4B6;
    border-collapse: collapse;
    background-color: #FFBF69;
    color: #2EC4B6;
    font-weight: bold;
    padding: 0.5em;
}

.sydney-today tr td:nth-child(even) {
    border: 1px solid #2EC4B6;
    border-collapse: collapse;
    background-color: white;;
    padding: 0.5em;
}

.sydney-next-seven{
    margin:0.75em auto 0 auto;
}

.scroll-section{
    margin-top: 31em;
}

.sydney-daily-heading{
    margin:0;
}

.sydney-daily-image{
    margin:0;
}

.sydney-daily {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #2EC4B6;
    text-align: left;
    border-collapse: collapse;
    font-weight: normal;
    margin-bottom: 2em;
}

.sydney-daily tr td:nth-child(odd){
    border: 1px solid #2EC4B6;
    border-collapse: collapse;
    background-color: #FFBF69;
    color: #2EC4B6;
    font-weight: bold;
    width:75%;
    text-align: left;
    padding-left: 0.5em;

}

.sydney-daily tr td:nth-child(even){
    border: 1px solid #2EC4B6;
    border-collapse: collapse;
    background-color: white;
    padding-left: 0.5em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .sydney-today-heading{
        font-size: x-large;
    }

    .sydney-today-time{
        font-size: large;
    }

    .sydney-today-image{
        height: 4em;
        width: 4em;
    }

    .sydney-today {
        width: 300px;
    }

    .sydney-today tr td:nth-child(odd) {
        font-size:1em;
        padding: 0.25em;
    }
    
    .sydney-today tr td:nth-child(even) {
        padding: 0.5em;
        font-size:1em;
    }

    .sydney-next-seven{
        font-size: x-large;
    }

    .sydney-daily-heading{
        font-size: large;
    }


    .sydney-daily-image{
        height: 4em;
        width: 4em;
    }

}


/* Small phones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 250px) and (max-device-width : 319px) {

    .sydney-today-heading{
        font-size: large;
    }

    .sydney-today-time{
        font-size: medium;
    }

    .sydney-today-image{
        height: 4em;
        width: 4em;
    }

    .sydney-today {
        width: 250px;
    }

    .sydney-today tr td:nth-child(odd) {
        font-weight: normal;
        font-size:1em;
        padding: 0.25em;
    }
    
    .sydney-today tr td:nth-child(even) {
        padding: 0.5em;
        font-size:1em;
    }

    .sydney-next-seven{
        font-size: large;
    }

    .scroll-section{
        margin-top: 28em;
    }
    
    .sydney-daily-heading{
        font-size: medium;
    }


    .sydney-daily-image{
        height: 4em;
        width: 4em;
    }

}